USE [payman]
GO
/****** Object:  StoredProcedure [dbo].[payman_sal_report]    Script Date: 12/11/2017 11:33:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[payman_sal_report] 
AS
select	EMP_NAME,EMP_DISPLAY_CODE, DIV_NAME AS CUSTOMER, RATE_TO_BILL AS LOP ,CTC, S.[BASIC],S.HRA, OTHER_ALLOWANCE,CONVEYANCE,MOBILE_ALLOWANCE,INCENTIVES,
GROSS_TOTAL,MEDICAL AS HEALTH_INSURANCE, PF,PROF_TAX AS PT, ESI,IT,SAL_ADVANCE,OTHER_DED,TOTAL_DEDUCTION,NET_TOTAL,BILLING_AMOUNT
from EMP_SALARY S
JOIN EMPLOYEE E
ON E.EMP_CODE=S.EMP_CODE
JOIN DIV_MASTER D
ON D.DIV_CODE=E.DIV_CODE
where E.EMP_CODE='3561'

RETURN 0    

